.country-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: #EFECEF;
    margin: 0 10%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-spacing: 0;
    border-collapse: separate;
    margin-bottom: 4rem;
    width: 100%;
    height: 8rem;
}

.banner-flag {
    height: 100%;
}

.banner-flag img {
    height: 100%;
}

.banner-name {
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.map-container {    
    min-width: 100%;
}