.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    background: #EFECEF;
    margin: 1rem;
    margin: 0 10%;
}

.banner-wrapper {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.list-wrapper {
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}