.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
    background: #EFECEF;
    margin: 1rem;
    margin: 0 8%;
}

.banner-wrapper {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.stats-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}