.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    background: #EFECEF;
    margin: 1rem;
    margin:  2% 10%;
}

.list-wrapper {
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}